<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<div th:fragment="topbar">
    <div class="row topbar shadow">
        <div class="col-md-12">
            <div class="d-flex justify-content-between align-items-center">
                <h3>SalesPerson Dashboard</h3>
                <div class="d-flex align-items-center">
                    <!-- Profile Icon with Dropdown -->
                    <div class="dropdown">
                        <button class="btn btn-sm shadow dropdown-toggle" type="button" id="profileDropdown"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                style="border:1px solid white; display: flex; justify-content: center; align-items: center;">
                            <img width="30" height="30"
                                 src="https://img.icons8.com/ios-filled/100/000000/admin-settings-male.png" alt="user"
                                 style="filter: invert(100%);"/>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="profileDropdown">
                            <a class="dropdown-item" href="/salesperson/profile">Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<a class="dropdown-item" href="#" onclick="document.getElementById('logoutForm').submit();">Logout</a>&ndash;&gt;-->
<!--<form id="logoutForm" th:action="@{/logout}" method="post" style="display: none;">-->
<!--    <input type="text" name="_csrf" th:value="${_csrf.token}" />-->
<!--</form>-->