body {
    background-color: #ffffcf;
}
.container{
background-color:white;
}

.edit-icon:hover i {
    transform: translate3d(0, -.125rem, 0);
    color: green;
}

.edit-icon {
    color: green;
    font-size: 25px;
}

.delete-icon:hover i {
    transform: translate3d(0, -.125rem, 0);
    color:red;
}

.delete-icon {
    color: red;
    font-size: 25px;
}

.alert{
    height:50px;
    width:100%;
}

 .header-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

